  $white: #fff;
  $red : rgba(192, 38, 38, 1);
   $redTint: adjust-color($red, $alpha: .4);
   $blue: rgb(3, 116, 142);
   $yellow: rgb(196, 168, 0);
   $cyan: hsl(150, 30%, 58%);
   $h1LabelDefault:  hsla(0, 0%, 50%, 0.1);
   $darkGray: rgb(37, 37, 37);

   @mixin h1Label {
        padding: 5px 5px;
        color: #333;
        font-size:1rem;
        background-color: $white;
        border:black 1px solid;
        box-shadow: 2px 2px $blue;
        border-radius: 50rem;
   }
   @mixin LargeLabel {
    padding: 1rem;
    color: $white;
    font-size:2rem;
    background-color: #333;
    border:black 1px solid;
    box-shadow: 2px 2px $blue;
    border-radius: 50rem;
}

   @mixin tableLable {
      border: $white 1px solid;      
   }
   
   @font-face {
        font-family: "Lato" ;
        src: url(/font/Lato-Regular.woff2);
    }

    body{
        font-family: "lato", sans-serif;
        margin: 0;
        padding: 0;
    }

    .controls{
        display: flex;
        flex-flow: row wrap;
        margin: 0;
         background: #fcb900;
    }
    
    .controls li{
        background-color: $blue;
        padding: 1% 2%;
        font-size: 2rem;
        color: $white;
        display: flex;
        justify-content:center;
        align-content: center;
        text-transform: uppercase;
        margin:2%;
        min-width: 15%;
    }
    .controls li:hover {
        background-color: $yellow;
        color: black;
    }

    .cytokine{
        display:flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: flex-end;
        margin-top:10%;
        
        .protease{
            position: relative;
            top: -620px;
            left:-750px;
        }
        .cytokineDomain{
            position: relative;
            h1{
                position: relative;
                top: -250px;
                @include h1Label();
            }
        }
        .halfLifeExtensionDomain{
            position: relative;
            left: -50px;
            bottom: 236px;
            z-index: -20;
            h1{
                position: relative;
                top: -60px;
                left: -180px;
                @include h1Label();    }
        }
        .inactivationDomain{
            /* background-color: cyan; */
            position: relative;
            right: -81px;
            bottom: 466px;
            z-index: -20;
            h1{
                position: relative;
                top: -130px;
                left: 150px;
                @include h1Label();
              }
        }
        .proteaseCleavableLinkers{
            position: relative;
            right: -67px;
            top: -578px;
            h1{
                position: relative;
                top: -50px;
                right: -84px;
                @include h1Label();
               }
        }
    }

    .membraneAndReceptor{
        display:flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-content: center;
        z-index: -50;
        position: absolute;
        top:600px;
        min-width:100%;
    }

    .receptor{
        z-index: -10;
        position:relative; 
        bottom:420px; 
        right: -160px;
        width: 450px;  
        align-self:center;
        justify-self: flex-end;
        z-index:-100; 
    }
    .membrane{
        z-index: -9;
        min-width: 100%;
        width: 1000%;
        min-height: 150px;
        background: url("../images/ppt_images/membrane.png" ) repeat-x;
    }

    #startTumorMicroenvironment{
        font-size: 2rem;
    }

    .deliveryText{
        color:$blue;
        font-size: 2rem;
        position: relative;
        top: -210px;
        left: 225px;
        font-weight: 900;
        @include LargeLabel();
        left:80%;
    }

    .textBoxes{
        position: relative;
        display: flex;
        flex-flow:row wrap;
        justify-content: center;
    }

    .textbox{
        max-width: 22%;
        border: 1px solid rgb(235, 235, 235);
        display: flex;
        flex-flow: column wrap;
       background-color: $darkGray;
       margin: 2rem;
    }

    .textbox span{
        align-items: center;
        display: flex;
        justify-content: center;
        margin:0;
        margin-bottom: 3%;
    }
    .textbox span h2{
        font-size: 1.2rem;
        color:seashell;
        align-self: auto;
        padding: 20px 50px;
        width: 100%;
        margin: 0;

    }


    .textbox.halfLifeExtensionDomain span h2{
        /* background-color: blue; */
            background-color: $blue;
            @include tableLable;
        }

    .textbox.cytokineDomain span h2{
        /* background-color: blue; */
            background-color: $yellow;
            @include tableLable;
        }
    .textbox.proteaseCleavableLinkers span h2{
        /* background-color: blue; */
            background-color: $cyan;
            @include tableLable;
        }
    .textbox.inactivationDomain span h2{
        /* background-color: blue; */
            background-color: $red;
            @include tableLable;
        }


    ul {
        margin: 0 5%;
        margin-bottom: 5%;
    }
    li{
        padding-bottom: .6rem;
        color:$white;
        font-size: 1rem;
    }

    svg{
     }
